

header {
    background-color: #858890;
    height: 300px;
}

body {
    background-color: #F3F3F3;
}

.footer {
    background-color: #858890;
}

/* Fonts */

body, 
.h2 {
    font-family: 'Open Sans', 'Faulty Glyphics';
    color: #353334;
}

h1, 
.h1_heading {
    font-family: 'Faulty Glyphics', 'Open Sans';
    color: #353334;
}


.h2_heading_kids {
    color: #00B3FF;
}

.h2_heading_teachers {
    color: #00C853;
}

.h2_heading_researchers {
    color: #BA68C8;
}

/* Images */




/* Logo and NAV */
.section-header,
.container-nav {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
    padding: 8px;
}

.section-header,
.container-nav {
    flex-direction: row;
}



/* Hamburger menu*/

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: #353334;
    color: #F3F3F3;
    padding: 10px;
    font-size: 1.5rem;
}

nav {
    position: absolute;
    background: #353334;
    left: 0px;
}

nav a {
    display: block;
    color: #F3F3F3;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    background-color: #00B3FF;
    color: #000000;
}

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}



/* Home page */
.welcome {
    background-image: url(../images/exhibition-1863344_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.welcome_content {
    position: absolute;
    text-align: center;
    left: 50px;
    font-size: 2rem;
    font-weight: bold;
}

.h1_heading {
    text-align: center;
    font-size: 1rem;
}



.explore-cards_img {
    border-radius: 60px;
    max-width: 100%;
    height: auto;
}

.cta_kids {
    background-color: #00B3FF;
    color: #353334;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
}

.cta_teacher {
    background-color: #00C853;
    color: #353334;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
}

.cta_researchers {
    background-color: #BA68C8;
    color: #353334;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
}

.news-cards_img {
    border-radius: 60px;
    max-width: 100%;
    height: auto;
}

.cta_book {
    background-color: #858890;
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
}


/* Contact */
.form__input {
    display: block;
}



/* Footer */

